@import "../../node_modules/material-kit/assets/scss/material-kit";
@import "post";

$banner-height: 400px;
$title-color: #fff;

.footer {
    &-black {
        background: #232323;
        background: radial-gradient(ellipse at center,#585858 0,#232323 100%);
        background-size: 550% 450%;
    }

    &-big {
        padding: 1.875rem 0;
    }

    h5 {
        color: $title-color;
    }

    a {
        color: $title-color;
        opacity: .86;

        &:hover {
            opacity: 1;
        }
    }
}
