.article pre {
  border-radius: 4px !important;
}

.article pre code {
  padding: 1em 1em 1em 1em;
}

.article p {
  font-size: 18px;
}

.article img {
  display: block;
  padding-top: 3px;
  padding-bottom: 3px;
}

.article blockquote {
  position: relative;
  color: #999;
  font-weight: 400;
  border-left: 1px solid #1abc9c;
  padding-left: 1em;
  margin: 1em 0em 1em 0em;
}

