.post-content {
  width: 80%;
  margin-top: 30px;
}

.article {
  margin-bottom: 20px;
}

.article pre {
  border-radius: 4px !important;
}

.article pre code {
  padding: 1em 1em 1em 1em;
}

.article img {
  display: block;
  padding-top: 3px;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  border-radius: 0.25rem !important;
}

.article blockquote {
  position: relative;
  color: #999;
  font-weight: 400;
  border-left: 1px solid #1abc9c;
  padding-left: 1em;
  margin: 1em 0em 1em 0em;
}

.title-area {
  height: 400px;
  background-color: gray;
  width: 100%;
}

.title-content {
  padding-top: 133.33333333px;
  color: #fff;
}

.title-content h1 {
  font-size: 2em;
}

.toc {
  margin: 0;
  padding: 0;
  background: radial-gradient(ellipse at center, #585858 0, #232323 100%);
}

.footer-black {
  background: #232323;
  background: radial-gradient(ellipse at center, #585858 0, #232323 100%);
  background-size: 550% 450%;
}

.footer-big {
  padding: 1.875rem 0;
}

.footer h5 {
  color: #fff;
}

.footer a {
  color: #fff;
  opacity: .86;
}

.footer a:hover {
  opacity: 1;
}

